.user{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-row{
  &.top{
    display: flex;
    gap: 20px;
  }
}

.user-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}