.userInfo{
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 10px;

  &__name{
    margin-left: 20px;
  }

  &__right{
    margin-left: auto;
    & > span{
      border-left: 1px solid black;
      padding: 10px;
    }
  }
}